/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  /* My variable */
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --text-light-gray-color: #999;
  --primary-color: #962bfa;
  --primary-hover-color: #a445fc;
  --sub-color: #fb89dd;
  --sub-hover-color: #fa99e0;
  --border-color: #dbdbdb;
  --option-item-hover-color: #f3f3f3;
  --star-gold-color: #ffce3e;
  --header-height: 100px;
  --navbar-height: 0;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
  --header-search-bar-height: 40px;
  --box-shadow-default: 1px 2px 3px #c2c2c2;
  --border-radius-default: 3px;
  --arrow-size-default: 15px 25px;
  --arrow-top-position-default: -24px;
  --margin-top-item-card: 10px;
  --side-menu-width: 250px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  /* Hide scrollbar for IE, Edge and Firefox */
  /* -ms-overflow-style: none; */
  /* IE and Edge */
  /* scrollbar-width: none;11 */
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #eee;
  min-height: 100vh;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

p,
pre,
span,
a {
  font-size: 1.6rem;
}

pre {
  font-family: "Roboto", sans-serif;
  text-wrap: wrap;
}

a {
  text-decoration: none;
}

/* Remove arrow in input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--grow-from));
  }

  to {
    transform: scale(var(--grow-to));
  }
}

@keyframes growtWithOpacity {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}